[2017-04-10 15:17] jkvill1 opened #4 "Hook up social feed to kiosk"
2017 #onebostonday feed only, via Wayin.

Due: EOD Monday

[2017-04-10 15:19] jkvill1 opened #5 "Hook up social feed to jumbotron, update front end to spec"
2017 #onebostonday feed only, via Wayin.

The display is in a 16:10 aspect ratio.
The total pixel count is 768 by 480.

Due: EOD Wednesday, testing on Thursday at 1pm.

[2017-04-10 15:20] jkvill1 opened #6 "Reset website Acts of Kindness counter for 2017"
Due for review on staging: Tues afternoon

[2017-04-10 15:21] jkvill1 opened #7 "Add 2017 social feed to homepage"
Pull in 2017 #onebostonday feed on homepage (via Wayin). Keep 2016 feed below it.

Due on staging for review: Tuesday afternoon.

[2017-04-10 15:21] jkvill1 opened #8 "Update Community carousel with 2017 content"
Content forthcoming.

Due on staging for review: Tuesday afternoon.

[2017-04-10 15:22] jkvill1 opened #9 "2017 copy tweaks"
Copy forthcoming.

Due on staging for review: Tuesday afternoon.

[2017-04-14 15:56] RobErskine commented on #8
Updated in commit (f4e27d2e99059a31f66154b35c483a1763416eca) and pushed live as part of release 3.1.2

[2017-04-14 15:56] #8 closed, assigned to nobody

[2017-04-14 15:57] RobErskine commented on #9
Updated in commit (f4e27d2e99059a31f66154b35c483a1763416eca) and pushed live as part of version 3.1.2

[2017-04-14 15:57] #9 closed, assigned to nobody

[2017-04-14 15:58] RobErskine commented on #5
The display dimensions were incorrect. We correctly matched the display to 1920x1080 16:9 and can be seen live here http://onebostonday.org/tweets. Completed in commit (https://github.com/CityOfBoston/onebostonday/commit/122c366968318f5b63b1ccb7beb6ca4d7e40e579)

[2017-04-14 15:58] #5 closed, assigned to nobody

[2017-04-14 15:59] RobErskine commented on #6
Updated to wayin endpoint. Can be found via the api here: http://one-boston-day-wayin-api.hhcctech.com/wayin/count.json. Also updated on the homepage in commit (https://github.com/CityOfBoston/onebostonday/commit/e7e8609e9502635a9489f5a26dab24d631b2ba06)

[2017-04-14 15:59] #6 closed, assigned to nobody

[2017-04-14 16:07] RobErskine commented on #7
Fixed and live in release 3.1.3 commit (https://github.com/CityOfBoston/onebostonday/commit/14aef8d2c6841bc4edde37d044a5bee753709215)

[2017-04-14 16:07] #7 closed, assigned to nobody

[2017-04-14 16:09] RobErskine commented on #4
Live in release 3.1.1 in commit(https://github.com/CityOfBoston/onebostonday/commit/ce2034e0e84c5b7f3c5dad224317be5fd5100b1d)

[2017-04-14 16:09] #4 closed, assigned to nobody

[2018-03-06 19:38] jkvill1 opened #10 "Smoke test entire site"
Confirm all site functionality, including Twitter submission, click throughs, video plays, Event form submission, downloads, etc. @chrsmrtn0

[2018-03-06 19:46] RobErskine commented on #10
Could be a good opportunity to implement Cypress if we have time?

[2018-03-06 19:53] jkvill1 opened #11 "Reset Acts of Kindness counter"
Until we have the 2018 Wayin feed connected and collecting new posts, please reset the counter to display the final 2017 number which was over 43,000. @RobErskine

[2018-03-06 20:11] jkvill1 opened #12 "Broken images"
Please remove all social posts that now have broken images in them. @RobErskine

[2018-03-07 16:16] chrsmrtn0 commented on #10
Functionally, the site works fine. Where it starts to fall flat is within Performance and Accessibility. Running a Google Lighthouse report scores the site lower than 40/100 in both disciplines, leaving much room for improvement.
[Lighthouse Report.pdf](https://github.com/CityOfBoston/onebostonday/files/1789886/Lighthouse.Report.pdf)

[2018-03-07 16:25] chrsmrtn0 opened #13 "Update submission form to new 2018 Event form"
I copied the previous event forms from 2017, wiped the old data and added them to the new project folder. We'll need to redirect the site to the new form.

[2018-03-07 19:53] chrsmrtn0 opened #14 "Add Aria roles and regions"
Globally, the site requires aria roles and regions for easy Accessibility navigation. Areas such as header, nav, main, and footer should get us through and ADA compliance, but we should consider splitting up some of the pages, such as the community/planning sections, with custom labels.

[2018-03-07 20:57] chrsmrtn0 opened #15 "Associate form labels with form fields"
**URL:** http://www.onebostonday.org/community/#planning
**Found:** The labeled titles for each input field within the .planning form aren't properly associated for accessibility. This means a screen reader won't pick up what a user should be entering into these inputs.

**Suggested:** add 'for' attributes to all labels and 'id' attributes to all inputs.

[2018-03-07 21:00] RobErskine commented on #12
This can be done within Wayin.

[2018-03-12 18:51] RobErskine commented on #13
@chrsmrtn0  Can you give us a link to where the new form is?

[2018-03-12 19:37] chrsmrtn0 commented on #13
@RobErskine
**Drive Folder:** https://drive.google.com/drive/folders/1yQw69BiSjbm8B49w_V7LtqO3n_QBP-6h
**Form:** https://docs.google.com/forms/d/1or2UBOW2AsCphbT1B9-3qUjRu6i8wQqQDsUFg2VOA6Y
**Results:** https://docs.google.com/spreadsheets/d/1zWY62-xR6sRZrXsWf_uAsLFiZa6VnolPKHN0uwrBc64

[2018-03-12 21:37] RobErskine opened #16 "Update Twitter count for new character count"
Twitter recently updated their tweet count from 140 characters to 280 characters. We should update the character count accordingly.

[2018-03-12 21:40] RobErskine commented on #10
Functionally, the site works fine. Any tickets for accessibility, performance, etc should be submitted as a new issue.

[2018-03-12 21:40] #10 closed, assigned to nobody

[2018-03-12 21:46] RobErskine commented on #12
Found a way to do this in code. Images will still technically 404 and throw errors in the console, but I'm removing them visually from the DOM when the feed loads.

[2018-03-12 22:34] RobErskine commented on #16
Up on staging as part of  commit: [1a419a6751](https://github.com/CityOfBoston/onebostonday/commit/1a419a67514d5b20974903f77c303af7de4f8080)

[2018-03-12 22:35] RobErskine commented on #15
@chrsmrtn0 Up on staging as part of  commit: [1a419a6751](https://github.com/CityOfBoston/onebostonday/commit/1a419a67514d5b20974903f77c303af7de4f8080)

[2018-03-12 22:35] RobErskine commented on #14
@chrsmrtn0 Up on staging as part of  commit: [1a419a6751](https://github.com/CityOfBoston/onebostonday/commit/1a419a67514d5b20974903f77c303af7de4f8080)

[2018-03-12 22:35] RobErskine commented on #12
@chrsmrtn0 @jkvill1  Up on staging as part of  commit: [1a419a6751](https://github.com/CityOfBoston/onebostonday/commit/1a419a67514d5b20974903f77c303af7de4f8080)

[2018-03-12 22:35] RobErskine commented on #11
@chrsmrtn0 @jkvill1  Up on staging as part of  commit: [1a419a6751](https://github.com/CityOfBoston/onebostonday/commit/1a419a67514d5b20974903f77c303af7de4f8080)

[2018-03-13 16:55] chrsmrtn0 commented on #11
Confirmed, the counter is currently at 43,532. This ticket can be closed.

[2018-03-13 17:00] chrsmrtn0 commented on #15
Confirmed, form fields are labeled correctly

[2018-03-13 17:00] #15 closed, assigned to RobErskine

[2018-03-13 17:04] #11 closed, assigned to RobErskine

[2018-03-13 17:29] chrsmrtn0 commented on #16
@RobErskine Confirmed, the new 280 character count is in place and working correctly

[2018-03-13 17:42] chrsmrtn0 commented on #12
@jkvill1 Confirmed, 404 images have been hidden on all browsers, mobile and desktop.

[2018-03-13 17:43] #12 closed, assigned to nobody

[2018-03-13 20:03] #16 closed, assigned to RobErskine

[2018-03-14 22:05] RobErskine commented on #13
Instead of replacing what is currently there with a new form I have updated the current form and archived all of the previous data. It's honestly more work than it's worth to replace what we currently have with a new form. I have to go through each field and update it with a unique hash and redo validation and stuff. It'll be much easier if we can use the form that's been in use for the last 4 yea

[2018-03-15 15:24] chrsmrtn0 commented on #13
Thats makes sense, I'm ok with doing things that way.

[2018-03-15 15:24] #13 closed, assigned to nobody

[2018-03-15 17:12] chrsmrtn0 commented on #14
These are all set now.

[2018-03-15 17:12] #14 closed, assigned to RobErskine

[2018-03-15 19:37] RobErskine opened #17 "Add in Media Kit to the Press Page"
As part of Phase 1 launch we want to include a new Media Kit to the Press Page to let people know what One Boston Day is all about.

[2018-03-15 19:41] RobErskine commented on #17
Pushed to http://staging.onebostonday.org/press/ as part of commit: [7891ffb](https://github.com/CityOfBoston/onebostonday/commit/7891ffb01443db9ee75699f2c5290c13aab3de17)

@chrsmrtn0 ready to review.

[2018-03-15 21:06] chrsmrtn0 commented on #17
@RobErskine confirmed this is up and working as expected across browsers. You can close this.

[2018-03-15 21:38] #17 closed, assigned to RobErskine

[2018-03-23 17:31] jkvill1 opened #18 "AWS / SSL updates"
Let's connect in person about setting up the S3 bucket and getting the cert.

[2018-03-23 17:33] jkvill1 opened #19 "Set up Craft staging environment"

[2018-03-27 18:46] edesilets commented on #19
This is complete. Information pertaining to this ticket is in slack.

[2018-03-27 18:46] #19 closed, assigned to edesilets, jkvill1

[2018-03-28 14:29] jkvill1 opened #20 "Update Wayin API"

[2018-03-28 14:38] RobErskine commented on #20
@mcclaskiem I started to work on this on the [feature/wayin-api-update](https://github.com/CityOfBoston/onebostonday/tree/feature/wayin-api-update) branch.

You'll need to compare the json keys and values from `/feed/feed.json` against the [new WayIn API endpoint](https://xapi.wayin.com/xapi/content/3/filter?key=103adfe9-a7b9-4824-9916-052f7339d73a&format=json&max=1000&collectionId=co-2ny8jdhvr07p

[2018-03-30 19:55] RobErskine commented on #20
Max updated the Wayin API stuff. I merged it into our Craft branch so that we could test on staging: http://staging.onebostonday.org/

cc: @jkvill1

[2018-04-03 14:36] ChristopherAlberto-SRX commented on #20
Platform: wayin
Environment: Staging
URL: https://xapi.wayin.com/xapi/content/3/filter?key=103adfe9-a7b9-4824-9916-052f7339d73a&format=json&max=1000&collectionId=co-2ny8jdhvr07p7ogdqyf

Endpoint fails to update when a user attempt to reject a post that was previously approved.

STR:

1. W/ valid creds sign into the Wayin App portal (ping directly for URL)
2. Open the 1BOSday collection (ping direc

[2018-04-03 15:51] ChristopherAlberto-SRX opened #21 "The "aria-role" attribute is not valid for the "nav" element."
Environment: Staging
URL: http://staging.onebostonday.org/

Found: Main navigation has "aria-role" attribute  assigned to it.
`<nav class="main-nav" aria-role="navigation" aria-label="Main Navigation">`

https://www.w3.org/TR/html5/infrastructure.html#default-implicit-aria-semantics

[2018-04-03 17:15] ChristopherAlberto-SRX opened #22 "Tweet input form has no corresponding label"
Found: Tweet field is missing a text label.

[2018-04-04 18:29] jkvill1 commented on #20
@mcclaskiem Just a reminder we need to also update the jumbotron feed to hit the new API. See @RobErskine for details.

[2018-04-04 20:33] edesilets commented on #18
@jkvill1 I have completed the following tasks

- [x] Created S3 bucket
- [x] Setup Cloudfront
- [x] Purchased a SAN Cert and add it to ACM (AWS Certificate Manager)
- [x] Purchased the domain of 1boston.org
- [x] Moved domains from Rackspace to Route53 (AWS service)
- [x] Point domains at the new AWS production site (Just waiting for the go ahead)

**Note:** The SAN Cert covers the following sub-d

[2018-04-05 14:05] jkvill1 opened #23 "QA Craft install & content updates on staging"

[2018-04-05 14:23] jkvill1 opened #24 "Install export plugin"
Ensure all URLs are relative.

[2018-04-05 14:23] jkvill1 opened #25 "Create API endpoint to scrape"

[2018-04-05 14:24] jkvill1 opened #26 "Remove Stories from nav"

[2018-04-05 14:25] jkvill1 opened #27 "Site map"

[2018-04-05 14:27] jkvill1 opened #28 "Craft coupon"

[2018-04-05 14:37] jkvill1 opened #29 "Pull video Watch Now button on homepage"

[2018-04-05 14:44] jkvill1 commented on #29
Remove Twitter player card, use static image instead of video play.

[2018-04-05 14:47] RobErskine commented on #24
Git repo for the export tool can be found on HHCC's Stash here: https://stash.hhcc.com/projects/HHCC/repos/craft-export-tool/browse

[2018-04-05 15:05] RobErskine commented on #25
You can reference this endpoint that we used for another project: https://stash.hhcc.com/projects/JH/repos/different-world/browse/craft/templates/api/v1/assets/get.twig

[2018-04-05 15:08] jkvill1 opened #30 "Convert SEO to plugin"
For 4/15

[2018-04-05 15:10] jkvill1 opened #31 "Stories section"
- Comment out sort
- Randomize display
- Finalize styling
- Build in final content (@jkvill1)

[2018-04-05 15:42] mcclaskiem commented on #24
This is on staging now and installed

[2018-04-05 15:47] mcclaskiem commented on #29
This on staging now

[2018-04-05 15:48] mcclaskiem commented on #28
Complete

[2018-04-05 15:48] mcclaskiem commented on #26
This is on staging now

[2018-04-05 15:55] mcclaskiem commented on #27
Added a plugin to handle auto generating a Sitemap

[2018-04-05 16:16] chrsmrtn0 commented on #26
Confirmed, removed from all pages.

[2018-04-05 16:20] chrsmrtn0 commented on #29
Confirmed, play now has been removed from desktop cross browser and mobile.

[2018-04-05 16:30] mcclaskiem commented on #25
http://staging.onebostonday.org/api/v1/assets/get.json

This feed is now available at the above link.

Notes:

The feed does not include the following folders which we will just move once manually into the AWS bucket from our public directory. cc: @RobErskine @edesilets

- `img`
- `fonts`
- `pdf`
- `video`
- `zip`

[2018-04-05 16:32] #28 closed, assigned to jkvill1

[2018-04-05 18:09] #27 closed, assigned to jkvill1

[2018-04-05 18:10] jkvill1 commented on #29
@chrsmrtn0 Can you also confirm the Twitter metadata before I close this?

[2018-04-05 18:11] #26 closed, assigned to jkvill1

[2018-04-05 22:02] jkvill1 opened #32 "Tweets not pulling in associated photos"
On production.

[2018-04-05 22:33] RobErskine commented on #32
Fixed on production for now. @mcclaskiem check out what I did [on the master branch](https://github.com/CityOfBoston/onebostonday/blob/master/build/js/main.js#L363) to make sure you can merge properly. Your initial fix was close, just needed to update the conditional.

[2018-04-05 22:37] RobErskine commented on #29
Can confirm the image was pulled from current prod ![twitter card](https://d3vv6lp55qjaqc.cloudfront.net/items/3s2C2c1G3n3T2n2n1U1R/Screen%20Shot%202018-04-05%20at%205.37.00%20PM.jpg?X-CloudApp-Visitor-Id=135073). Just need to make sure it's there after we push the new craft stuff

[2018-04-06 14:03] mcclaskiem commented on #32
This is on staging now

[2018-04-06 14:12] mcclaskiem commented on #22
This is now on staging

[2018-04-06 14:15] mcclaskiem commented on #21
Are we removing both aria-labels here? @calbertohhcc

[2018-04-06 14:56] ChristopherAlberto-SRX commented on #32
Environment: Staging & Production
Post URL: https://twitter.com/MrDurney/status/981967267662630912/photo/1

Images are pulling in however if a tweet has multiple images associated with the post we are only grabbing the first to add to our thumbnail.

Is this intended behavior?

[2018-04-06 15:32] mcclaskiem commented on #32
@jkvill1 Is only pulling one image ok for now? Building multi-image support will require us re-doing the feed templating

[2018-04-06 15:36] jkvill1 commented on #32
Ok, one image is fine then, thanks.

[2018-04-06 15:50] ChristopherAlberto-SRX opened #33 "Press - Date is adding a exta space"
Environment: Staging & Production
URL: http://www.onebostonday.org/press/

STR:

1. Go to the URL listed above on desktop
2. Observe line "‘One Boston Day’ Video Urges..."
3. Observe date below it has an additional space in front of it.

![capture](https://user-images.githubusercontent.com/35541168/38430875-8b6da7e2-3990-11e8-88fc-39b24438a660.PNG)

Issue is present on mobile as well.
If a new lin

[2018-04-06 15:55] ChristopherAlberto-SRX commented on #32
Marking ticket as closed based on comments above.

[2018-04-06 15:55] #32 closed, assigned to mcclaskiem

[2018-04-06 17:01] mcclaskiem opened #34 "Go Live"
Steps:
1. Flatten Craft website
2. Transfer Files to AWS over SFTP
3. Test that S3 bucket contains correct files at [aws.onebostonday.org](http://aws.onebostonday.org) (@calbertohhcc)
4. Point production domain at AWS instead of Rackspace (@edesilets)
5. Confirm that [onebostonday.org](onebostonday.org) is now propagating through to S3 instead of Rackspace

[2018-04-06 18:04] edesilets commented on #25
@RobErskine that twig example out of date. I think a more relevant example would be from Brigham. I wrote up some docs a couple of minutes ago on the accepted JSON format in confluence. @mcclaskiem is aware of the changes that need to be made. If any issues occur we will hash them out.

[2018-04-06 18:07] edesilets commented on #24
Settings for the export plugin are set.

[2018-04-06 19:01] ChristopherAlberto-SRX commented on #22
A form label is present but does not contain any content.
This label element contains no text. It should contain an appropriate text label.
`<label for="tweet-field" aria-hidden="false" class="aria-hidden"></label>`

[2018-04-06 19:04] ChristopherAlberto-SRX commented on #23
A sweep of all frontend tools in the CMS have been checked.
There were some naming issues that came up but nothing that will hold back content from being able to be successfully updated. We will track these separately in our local bug tracking software.

The only thing holding up the update at the moment is the exporting tool which is currently being fixed. Once that change is in and verified QA w

[2018-04-07 17:33] RobErskine commented on #33
Could fix this by adding padding-right to the title, and removing padding-left from the date. This is pretty low priority though so focus on the more critical stuff first

[2018-04-07 19:08] mcclaskiem commented on #33
I have this fix locally already just never pushed it yesterday with everything that was going on. Will get this worked in with next big update on Monday

[2018-04-09 14:37] #24 closed, assigned to edesilets

[2018-04-10 13:05] mcclaskiem commented on #33
This is now on staging @calbertohhcc

[2018-04-10 13:06] mcclaskiem commented on #22
This is now on staging @calbertohhcc

[2018-04-11 02:21] jkvill1 opened #35 "Acts of Kindness counter"
Fix counter, check current total, report out to @jkvill1 for timing on the switch.

[2018-04-11 02:25] RobErskine commented on #35
This can be updated on line [289 of main.js](https://github.com/CityOfBoston/onebostonday/blob/master/build/js/main.js#L289).

Instead of hardcoding it, ajax the waypoint api and pull in the `data[0]["totalrecords"]` key to get the total number of acts of kindness. As of the time of this comment there are 486.

[2018-04-11 13:03] mcclaskiem commented on #35
Is the count supposed to be only approved tweets or is it all uses of the hashtag #OneBostonDay? @jkvill1

[2018-04-11 14:37] jkvill1 opened #36 "Stories section"
1.) Need to display Firstname Lastname On behalf of on individual pages.

2.) Need photo display solution.

3.) Let's just make the thumbnails flush left under the main photo window vs. spaced the way they are now.

4.) If no photos are present, remove section. Currently an empty blue outline remains where the photos would be.

5.) If no links are present, remove section. Currently the Links heade

[2018-04-11 14:40] jkvill1 opened #37 "Stories section header copy"
Need to be able to control this via Craft

[2018-04-11 15:56] ChristopherAlberto-SRX opened #38 "Mobile - Story Pages - Add padding to body container"
Platforms: Global Mobile
Environment: Staging
URL: n/a

Story pages require some left and right padding in the body section.
Currently the copy is resting against the edge of the device.

[2018-04-11 16:01] ChristopherAlberto-SRX opened #39 "Stories - Template Error - Impossible to access an attribute ("url") on a null variable."
Unable to access main Story page.

**/var/www/vhosts/staging.onebostonday.org/craft/templates/stories/index.twig(45)**

[code]

[2018-04-11 16:06] RobErskine commented on #39
@mcclaskiem Jenny and I originally talked offline about loading in one of the different color OBD logos in place of thumbnails incase a story doesn't contain a photo.

[2018-04-11 16:44] jkvill1 opened #40 "Homepage video updates"
PSDs here: https://drive.google.com/open?id=1Cq_4HBawhk_WDB2rM_iZJ2k9SZJJN52O

Copy will change from what's in the comps.

[2018-04-11 16:56] mcclaskiem commented on #39
Would this be randomly selected or just one of them. If one, any preference on which one? @jkvill1

[2018-04-11 17:10] mcclaskiem commented on #38
This is on staging now

[2018-04-11 17:11] mcclaskiem commented on #37
This is live on staging

[2018-04-11 17:48] ChristopherAlberto-SRX commented on #36
6) Make image transform. Site loading giant images upfront for thumbnails.

[2018-04-11 18:05] mcclaskiem commented on #39
This is now live on staging

[2018-04-11 18:30] jkvill1 opened #41 "Twitter player card"
When new videos go live, we need to update the Twitter metadata to autoplay one of the videos in-feed on Twitter.

[2018-04-11 18:33] jkvill1 commented on #37
Looks good to me. Will let @calbertohhcc close once verified.

[2018-04-11 18:35] #29 closed, assigned to jkvill1, calbertohhcc

[2018-04-11 19:08] RobErskine commented on #40
Up on http://staging.onebostonday.org. It's using the same video modal that was up there before, just dynamic now. You can edit the videos in the CMS by going to Entries > Singles > Home.

[2018-04-11 19:44] chrsmrtn0 opened #42 "Billboard: Messages with photos aren't fitting within bounds"
After viewing the billboard link under 768x480 for a while, a few posts appeared that had images associated with them. In just about every case where an image was present, either the image or the copy was overlapping the base of the site and running past the bottom bounds of the display. We need to ensure that everything stays within that white space and appears completely on screen.

Also in at l

[2018-04-11 19:47] chrsmrtn0 commented on #42
<img width="632" alt="screen shot 2018-04-11 at 3 47 04 pm" src="https://user-images.githubusercontent.com/17831528/38639559-9aad3c6e-3d9f-11e8-8f9c-0776d592ee1f.png">
<img width="635" alt="screen shot 2018-04-11 at 3 46 06 pm" src="https://user-images.githubusercontent.com/17831528/38639560-9dee4422-3d9f-11e8-94dd-84dd8bea59c4.png">

[2018-04-11 19:49] mcclaskiem commented on #36
All of this should be accounted for now on staging

[2018-04-11 19:53] ChristopherAlberto-SRX commented on #39
Fix verified on staging.

[2018-04-11 19:53] #39 closed, assigned to calbertohhcc

[2018-04-11 19:54] ChristopherAlberto-SRX commented on #38
This issue remains present on the Story main page.
Can you please update the Story page to reflect the same amount of padding as in the individual story pages.

[2018-04-11 19:55] ChristopherAlberto-SRX commented on #22
Fix verified on staging.

[2018-04-11 19:55] #22 closed, assigned to calbertohhcc

[2018-04-11 19:57] ChristopherAlberto-SRX commented on #33
Fix verified on staging.

[2018-04-11 19:57] #33 closed, assigned to jkvill1, calbertohhcc

[2018-04-11 20:01] ChristopherAlberto-SRX commented on #40
![capture](https://user-images.githubusercontent.com/35541168/38640162-7e05e672-3da1-11e8-84c5-23f2b9e51f8f.PNG)

Thumbnails are not rendering the same size when viewed in IE 11.
Also, if possible, can we please reduce the size of the play icon to better match the proof?

[2018-04-11 20:03] ChristopherAlberto-SRX commented on #37
Fix verified on staging.

[2018-04-11 20:03] #37 closed, assigned to calbertohhcc

[2018-04-11 20:07] ChristopherAlberto-SRX opened #43 "Story Pages - Template Error - Impossible to access an attribute ("width") on a null variable."
Platforms: Global
Environment: Staging
URL: n/a

Unable to access James' and Amanda's story pages.

**/var/www/vhosts/staging.onebostonday.org/craft/templates/stories/_entry.twig(41)**

[code]

[2018-04-11 20:13] ChristopherAlberto-SRX opened #44 "Story pages are using absolute paths"
Platforms: Global
Environment: Staging S3
URL: n/a

When reviewing the site in the s3 staging bucket the user will be redirected back to the craft instance of the site if they attempt to view a story page.

It appears the story pages are using absolute paths instead of a relative path.

[2018-04-11 20:42] ChristopherAlberto-SRX commented on #44
Fix verified on staging.

[2018-04-11 20:42] #44 closed, assigned to calbertohhcc

[2018-04-12 22:24] jkvill1 commented on #31
Need to add Stories to main nav on staging.

[2018-04-13 00:29] RobErskine commented on #31
Pushed to staging

[2018-04-13 00:29] #31 closed, assigned to RobErskine, jkvill1

[2018-04-13 00:30] RobErskine commented on #43
I think this is resolved.

[2018-04-13 00:31] RobErskine commented on #42
Should be good to go

[2018-04-13 00:41] RobErskine commented on #30
Converted to seomatic. All seo stuff should now be handled in the CMS. @jkvill1 you can update all of the correct info here: http://staging.onebostonday.org/obd-admin/seomatic/site (also be sure to check the other tabs like Site Identity, Social Media, etc.

[2018-04-13 00:43] RobErskine commented on #41
@jkvill1  So our new seomatic plugin doesn't support this out of the box. How soon will we have the final video?

[2018-04-13 00:54] RobErskine commented on #40
Just pushed up a fix that should fixed this @calbertohhcc

[2018-04-13 00:54] RobErskine commented on #20
@jkvill1 Jumbotron is all updated. We good to close?

[2018-04-13 01:15] RobErskine commented on #35
This has been updated on staging. @jkvill1 we're hitting the [Wayin counter API](https://metric.wayin.com/xapi/metric/count?apiKey=103adfe9-a7b9-4824-9916-052f7339d73a&id=campaign:6843:127945::aUT30WCpJSjulXZ4,campaign:6843:127945::aYDVSr2FxLE63wT6) and adding up the twitter + instagram posts and using that as our counter. The number isn't super impressive (yet). Let me know when you want to time

[2018-04-13 14:25] ChristopherAlberto-SRX commented on #20
Platforms: n/a
Environment: Production
URL: http://onebostonday.org/tweets

Video posts are rendering copy only.
Video fails to load and leave an empty white space next to the copy.

[2018-04-13 14:32] ChristopherAlberto-SRX opened #45 "Stories - Thumbnails not rendering in FF & Edge"
Platforms: FF v59 Mac & Win10, Edge v41
Environment: Staging S3 & RS
URL: http://staging.onebostonday.org/stories/

Thumbnails are not rendering when viewed in Firefox or Edge.
![capture](https://user-images.githubusercontent.com/35541168/38740530-cebc97c2-3f05-11e8-9c9d-c2d8a5e5cda1.PNG)

[code]

[2018-04-13 14:38] ChristopherAlberto-SRX commented on #43
Fix verified on staging.

[2018-04-13 14:38] #43 closed, assigned to calbertohhcc

[2018-04-13 14:40] ChristopherAlberto-SRX commented on #20
Platforms: n/a
Environment: Production
URL: http://onebostonday.org/

--Appending here as this fix should resolve the following issue.
Video posts are not rendering on the home page.
Only the copy of the post draws on screen while a loading icon appears for the video thumbnail.

[2018-04-13 14:43] ChristopherAlberto-SRX commented on #42
When viewed at 768x480 the images and copy no longer bleed over the edge of the display field.

However, when viewed at full desktop resolution, images will still bleed over.
Given that we aren't developing to support this on other platforms I suggest we consider this closed.

@jkvill1 & @RobErskine what do you think?

[2018-04-13 14:43] RobErskine commented on #42
The correct resolution is 1920 x 1080. The requirements we got from before were incorrect.

[2018-04-13 14:52] ChristopherAlberto-SRX commented on #42
Reviewed at 1920 x 1080 and noticed that some images are bumping up against the border of the display field. Here's an example of one of those images.

If a list of all images is needed please let me know, but given the timeline the hope is that we can resolve this issue using the information provided below and apply it globally across all potential instances.

![capture](https://user-images.githu

[2018-04-13 14:54] RobErskine commented on #42
It's intended for the image to go edge to edge, either vertically or horizontally, with the blue border.

[2018-04-13 14:55] ChristopherAlberto-SRX commented on #40
Fix verified on staging.

[2018-04-13 14:55] #40 closed, assigned to jkvill1, calbertohhcc

[2018-04-13 15:01] ChristopherAlberto-SRX commented on #36
All edits with the exception of request # 3 were made.

@jfalvey  if i'm reading this right you want the thumbnails under the main image to be left aligned with the main image right? Currently they are centered like this --
![capture](https://user-images.githubusercontent.com/35541168/38742227-f8a94ac2-3f09-11e8-9872-415b15845ee5.PNG)
If what is in that image is accurate then please ignore this co

[2018-04-13 15:02] ChristopherAlberto-SRX commented on #23
Exporting tool is working as intended now along with all other CMS frontend tools.

[2018-04-13 15:02] #23 closed, assigned to calbertohhcc

[2018-04-13 15:03] ChristopherAlberto-SRX commented on #42
Closing based on developer comments.

[2018-04-13 15:03] #42 closed, assigned to RobErskine

[2018-04-13 15:17] ChristopherAlberto-SRX commented on #38
Kicking over the Rob as he is now handling the frontend fixes.

[2018-04-13 15:31] ChristopherAlberto-SRX opened #46 "Stories - custom URLs inherenting parent URL"
Platform: Global
Environment: S3 & RS
Story URL: http://staging.onebostonday.org/stories/brittany-loring
Link URL: http://staging.onebostonday.org/stories/Brittanyfund.org

Links within stories are adding the parent page URL to the beginning of all custom links.
Example:

In the Brittany Loring page there's a custom link in the CMS for Brittanyfund.org.
However when you view this link on the site

[2018-04-13 15:36] RobErskine commented on #46
@jkvill1  This is a content issue and should be fixed by prepending a protocol in the CMS (http:// or https://)

[2018-04-13 16:08] ChristopherAlberto-SRX commented on #46
@jkvill1 Rob is spot on.
I was able to resolve this one link by just adding the correct protocol.

Please note that I only resolved the issue for the one link listed in this ticket.
Someone will need to go in and update all other custom URLs to include the correct protocol.

[2018-04-13 16:13] ChristopherAlberto-SRX commented on #46
I went ahead and updated the links that needed updating.
Not all additional links were missing https://

[2018-04-13 16:13] #46 closed, assigned to RobErskine, jkvill1

[2018-04-13 16:26] jkvill1 commented on #36
@calbertohhcc Max and I worked through this offline and the staging site is now correct. They should be centered. And not present if there's only one photo.

[2018-04-13 16:27] #36 closed, assigned to RobErskine, jkvill1

[2018-04-13 16:28] jkvill1 commented on #46
Noted, guys, thanks. I'll make sure to do that going forward with the other entries.

[2018-04-13 16:46] ChristopherAlberto-SRX opened #47 "Add retweets to ticker"

[2018-04-13 16:55] ChristopherAlberto-SRX commented on #35
Working as intended.
Needs to be pushed to prod.
Update ticker for retweet handled in a separate ticket.

[2018-04-13 16:55] #35 closed, assigned to jkvill1

[2018-04-13 16:56] ChristopherAlberto-SRX commented on #47
@RobErskine please let @jkvill1 know when this change is made so we can review the number.

[2018-04-13 17:00] jkvill1 commented on #41
Reminder to @calbertohhcc to check this once set up.

[2018-04-13 17:00] ChristopherAlberto-SRX commented on #21
Waived

[2018-04-13 17:00] #21 closed, assigned to mcclaskiem

[2018-04-13 17:06] ChristopherAlberto-SRX opened #48 "Stories - Share links"
Share links are currently pointing to staging and not the environment they are being hosted on.

Example:
http://staging-aws.onebostonday.org/stories/amanda-north/

Social share link is driving to http://staging.onebostonday.org/stories/amanda-north

[2018-04-13 17:09] ChristopherAlberto-SRX opened #49 "Wayin wall rendering out of order"
This is present on Production.

Posts are not coming in order; appear random.
Should be coming in reverse chronological order.

[2018-04-13 17:10] RobErskine commented on #49
Can you dig in and see what order they are actually coming in at? Are they coming in order in the API? Is it just that instagram / twitter are not in order? etc?

[2018-04-13 17:25] ChristopherAlberto-SRX commented on #49
Sorry for not including all this information in the original ticket.
Endpoint URL: https://xapi.wayin.com/xapi/content/3/filter?key=103adfe9-a7b9-4824-9916-052f7339d73a&format=json&max=1000&collectionId=co-2ny8jdhvr07p7ogdqyf
Site URL: http://onebostonday.org/
Wayin collection: (ping me)

The wayin published bucket matches what the order of what is present on the site as well as the endpoint. This

[2018-04-13 17:33] ChristopherAlberto-SRX opened #50 "AWS - Video background missing"
Platforms: Global
Environment: AWS S3
URL: http://staging-aws.onebostonday.org/

Video background is not present.
This issue is only present on aws staging.
Video plays without issue on production and the rackspace staging site.

[2018-04-13 17:36] ChristopherAlberto-SRX opened #51 "Firefox - Close Video copy appears when expanding video"
Platforms: Firefox v59
Environment: S3 & RS
URL: http://staging.onebostonday.org/

STR:

1. Go to http://staging.onebostonday.org/
2. Play any one of the 3 videos
3. Observe text "close video" appears
![capture](https://user-images.githubusercontent.com/35541168/38749452-a9f57a98-3f1f-11e8-8176-20211649c6e3.PNG)
 in the top left

[2018-04-13 18:18] RobErskine commented on #47
Turned "exclude retweets" to off. ![Wayin Retweets](https://cl.ly/1v1N1y3n281v/Screen%20Shot%202018-04-13%20at%202.17.34%20PM.jpg). Not sure how long it will take for Wayin to update, or if it will only work for retweets moving forward.

[2018-04-13 18:29] RobErskine commented on #50
We're removing the video with the new video layout. Should just be a static asset. The permissions were messed up in AWS so this should be resolved.

[2018-04-13 18:29] #50 closed, assigned to RobErskine

[2018-04-13 18:51] RobErskine commented on #51
fixed on staging.onebostonday.org

[2018-04-13 18:52] RobErskine commented on #48
Since we're using the scraping tool the tool will pull whatever the current url is. To remedy this, we're hardcoding the production links. As soon as these pages are live we should be good. Can be see on on staging.onebostonday.org

[2018-04-13 18:55] RobErskine commented on #45
fixed on staging.onebostonday.org

[2018-04-13 18:55] RobErskine commented on #38
fixed on staging.onebostonday.org

[2018-04-13 20:59] ChristopherAlberto-SRX commented on #51
Fixed verified on staging.

[2018-04-13 20:59] #51 closed, assigned to calbertohhcc

[2018-04-13 21:00] ChristopherAlberto-SRX commented on #48
verified on staging.
Links are now pointing to the intended prod URL

[2018-04-13 21:00] #48 closed, assigned to calbertohhcc

[2018-04-13 21:18] ChristopherAlberto-SRX commented on #45
Fix verified on staging.

[2018-04-13 21:18] #45 closed, assigned to calbertohhcc

[2018-04-13 21:18] ChristopherAlberto-SRX commented on #38
Fix verified on staging.

[2018-04-13 21:18] #38 closed, assigned to calbertohhcc

[2018-04-13 21:28] ChristopherAlberto-SRX commented on #49
This appears to be working again.
Newly published posts go to the top of the stack.

[2018-04-13 21:28] #49 closed, assigned to jkvill1

[2018-04-13 21:44] RobErskine commented on #20
Should be good now. Check the boloco post for reference

[2018-04-13 23:03] #47 closed, assigned to calbertohhcc

[2018-04-14 15:04] ChristopherAlberto-SRX commented on #20
Fix verified on staging.

[2018-04-14 15:04] #20 closed, assigned to calbertohhcc

[2018-04-14 15:49] ChristopherAlberto-SRX opened #52 "Press - Years no longer appear near date"
Platforms: Global
Environment: Production & Staging
URL: http://onebostonday.org/press/

Published year is no longer appearing next to publish date.
Current:
Third annual One Boston Day marked by messages of support and hope April 15 Boston.com

Intended:
Third annual One Boston Day marked by messages of support and hope April 15 2017 Boston.com

[2018-04-14 17:32] RobErskine commented on #52
Added dates back in.

[2018-04-14 17:32] #52 closed, assigned to RobErskine

[2018-04-14 22:25] #30 closed, assigned to jkvill1

[2018-04-15 14:05] #41 closed, assigned to RobErskine

[2018-04-15 14:05] #34 closed, assigned to mcclaskiem, edesilets, jkvill1, calbertohhcc

[2018-04-15 14:07] RobErskine commented on #18
Not critical for today but where did we land with getting SSL setup for onebostonday.org? Hitting https now just spins. cc @edesilets

[2018-04-17 20:25] edesilets commented on #18
@RobErskine SSL for One Boston Day's Cloudfront instance is ready to go. Currently your are seeing HTTPS not load because it's pointed at an S3 bucket which can't have HTTPS. Once the DNS is pointed at the Cloudfront instance it will redirect from HTTP to HTTPS and everything will be right as rain. Note: I have the redirects working for Cloudfront.

[2018-04-17 23:10] RobErskine commented on #18
What steps do we need to take to point the DNS from s3 to cloudfront? Are we waiting for traffic to die down?

[2018-04-17 23:10] #25 closed, assigned to edesilets

[2018-04-18 13:15] edesilets commented on #18
The craft end point needed to be fixed, but it looks like you fixed it last night. [See Commit](https://github.com/CityOfBoston/onebostonday/commit/afcdf9a9c55552b65f91af3ad303458a1ccd4dd4) I should be able to export [commit](https://github.com/CityOfBoston/onebostonday/commit/9f7a44a54e93d6967abddd4c8d5f508e47c37177) to production now.  Once this change is live then I should be good to repoint th

[2018-04-20 16:54] #18 closed, assigned to edesilets, jkvill1

[2018-05-07 13:38] jkvill1 opened #53 "Fix broken counter"
To account for Instagram bug via Wayin.

[2018-05-07 14:12] RobErskine commented on #53
Up on staging. Give that a looksee and we can deploy.

[2018-05-09 14:21] ChristopherAlberto-SRX commented on #53
Update verified on staging and is ready for production.
Counter now reads 23,539 as of 5/9 @ 10:20AM.

[2018-05-09 14:50] ChristopherAlberto-SRX opened #54 "Your connection is not secure: Insecure Content Blocked"
Platforms: Global
Environment: Production
URL: https://onebostonday.org/

Site is being labeled as "not secure". On certain browsers, Win10 Firefox & IE, users are now required to add the site as an exception just to gain access. Others, like Chrome, are only flagging this in the address bar.

Note:
The network tab lists the following css file as being blocked. This may be causing the issue.
mixed

[2018-05-09 16:07] RobErskine commented on #54
Typography.com (our web font provider) was setup to look at http://onebostonday.org. I just set it up so that it now calls from https. This should fix the blocking issue.

That being said, we're getting other mixed media warnings (not errors) for images we're loading as well. Craft was set up to put assets on the Amazon s3 CDN as http://. I've updated this on staging to reference https://. These m

[2018-06-11 17:30] ChristopherAlberto-SRX commented on #54
Test conducted using the live address given by a google search of "one boston day"
URL: https://onebostonday.org/

Bases on tests run on multiple validation sites i'm getting certificate mismatch error.
https://www.ssllabs.com/ssltest/analyze.html?d=onebostonday.org
https://www.sslshopper.com/ssl-checker.html#hostname=https://onebostonday.org/

At the browser level the "Your connection is not secu

[2018-09-27 14:12] RobErskine commented on #54
Hey @calbertohhcc this should be all resolved? Can you confirm and close?

[2018-09-27 21:27] ChristopherAlberto-SRX commented on #54
Verified as fixed using the same tools listed in my initial comment.

[2018-09-27 21:27] #54 closed, assigned to calbertohhcc

[2018-11-13 20:38] #53 closed, assigned to RobErskine